.u-section-1 .u-sheet-1 {
  min-height: 387px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 56px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 459px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 8px;
}

.u-section-1 .u-image-1 {
  height: 217px;
  width: 217px;
  margin: 25px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 34px;
  height: 34px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 15px auto 0 35px;
  padding: 6px;
}

.u-section-1 .u-icon-2 {
  width: 34px;
  height: 34px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: -34px auto 0;
  padding: 8px;
}

.u-section-1 .u-icon-3 {
  width: 34px;
  background-image: none;
  height: 34px;
  color: rgb(255, 255, 255) !important;
  margin: -34px 35px 0 auto;
  padding: 7px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 331px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 16px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  margin: 0 15px 0 28px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 20px 15px 0 28px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 20px 15px 0 28px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 17px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 455px;
  }

  .u-section-1 .u-image-1 {
    inset: auto;
    height: 127px;
    width: 127px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 455px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 29px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    font-family: Georgia, serif;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 21px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 75px;
    width: 75px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 21px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 21px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2523px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 658px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 464px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 12px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 15px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-group-1 {
  min-height: 449px;
  height: auto;
  width: 1135px;
  margin: 0 auto 0 20px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Mallanna;
  margin: 25px auto 0 15px;
}

.u-section-2 .u-text-2 {
  font-family: Arial, sans-serif;
  margin: 13px auto 0 30px;
}

.u-section-2 .u-text-3 {
  margin: -28px auto 0 154px;
}

.u-section-2 .u-text-4 {
  font-family: Arial, sans-serif;
  margin: 3px auto 0 30px;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  margin: -29px auto 0 154px;
}

.u-section-2 .u-text-6 {
  font-family: Arial, sans-serif;
  margin: 3px auto 0 30px;
}

.u-section-2 .u-text-7 {
  font-weight: 400;
  margin: -29px auto 0 154px;
}

.u-section-2 .u-text-8 {
  font-family: Arial, sans-serif;
  margin: 3px auto 0 30px;
}

.u-section-2 .u-text-9 {
  font-weight: 400;
  margin: -29px auto 0 154px;
}

.u-section-2 .u-text-10 {
  font-family: Arial, sans-serif;
  margin: 3px auto 0 30px;
}

.u-section-2 .u-text-11 {
  font-weight: 400;
  margin: -29px auto 0 154px;
}

.u-section-2 .u-text-12 {
  font-weight: 400;
  margin: 3px auto 0 154px;
}

.u-section-2 .u-text-13 {
  font-family: Arial, sans-serif;
  margin: -28px auto 0 30px;
}

.u-section-2 .u-text-14 {
  font-weight: 400;
  margin: 3px auto 0 154px;
}

.u-section-2 .u-text-15 {
  font-family: Arial, sans-serif;
  margin: -29px auto 0 30px;
}

.u-section-2 .u-text-16 {
  font-family: Arial, sans-serif;
  margin: 3px auto 0 30px;
}

.u-section-2 .u-text-17 {
  font-weight: 400;
  margin: -29px auto 0 154px;
}

.u-section-2 .u-text-18 {
  font-family: Arial, sans-serif;
  margin: 3px auto 0 30px;
}

.u-section-2 .u-text-19 {
  font-weight: 400;
  margin: -29px auto 0 154px;
}

.u-section-2 .u-text-20 {
  font-family: Arial, sans-serif;
  margin: 3px auto 0 30px;
}

.u-section-2 .u-text-21 {
  font-weight: 400;
  margin: -29px auto 0 154px;
}

.u-section-2 .u-text-22 {
  font-family: Arial, sans-serif;
  margin: 3px auto 0 30px;
}

.u-section-2 .u-text-23 {
  font-weight: 400;
  margin: -29px auto 0 154px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-2 .u-group-1 {
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 468px;
  }

  .u-section-2 .u-group-1 {
    min-height: 480px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 14px;
    margin-right: 610px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 8px;
    margin-right: 625px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 26px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 625px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 625px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-right: 152px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-right: 625px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-right: 36px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-right: 625px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-right: 26px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-right: 115px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-right: 625px;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-right: 0;
  }

  .u-section-2 .u-text-15 {
    width: auto;
    margin-right: 625px;
  }

  .u-section-2 .u-text-16 {
    width: auto;
    margin-right: 625px;
  }

  .u-section-2 .u-text-17 {
    width: auto;
    margin-right: 47px;
  }

  .u-section-2 .u-text-18 {
    width: auto;
    margin-right: 625px;
  }

  .u-section-2 .u-text-19 {
    width: auto;
    margin-right: 36px;
  }

  .u-section-2 .u-text-20 {
    width: auto;
    margin-right: 625px;
  }

  .u-section-2 .u-text-21 {
    width: auto;
    margin-right: 115px;
  }

  .u-section-2 .u-text-22 {
    width: auto;
    margin-right: 625px;
  }

  .u-section-2 .u-text-23 {
    width: auto;
    margin-right: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1rem;
    margin-right: 445px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 469px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 469px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 469px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 469px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 469px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: 469px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 469px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 445px;
  }

  .u-section-2 .u-text-18 {
    margin-right: 469px;
  }

  .u-section-2 .u-text-20 {
    margin-right: 469px;
  }

  .u-section-2 .u-text-22 {
    margin-right: 469px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-2 .u-group-1 {
    min-height: 667px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 7px;
    margin-right: 305px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 16px;
    margin-right: 342px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 67px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 342px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: -26px;
    margin-left: 67px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -1px;
    margin-right: 342px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: -25px;
    margin-right: 3px;
    margin-left: 67px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -1px;
    margin-right: 342px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-top: -24px;
    margin-right: 16px;
    margin-left: 67px;
  }

  .u-section-2 .u-text-10 {
    margin-top: -1px;
    margin-right: 342px;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-top: -24px;
    margin-right: 30px;
    margin-left: 67px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 0;
    margin-right: 3px;
    margin-left: 67px;
  }

  .u-section-2 .u-text-13 {
    margin-top: -51px;
    margin-right: 347px;
    margin-left: 0;
  }

  .u-section-2 .u-text-14 {
    margin-top: 26px;
    margin-right: 16px;
    margin-left: 67px;
  }

  .u-section-2 .u-text-15 {
    margin-top: -77px;
    margin-right: 347px;
    margin-left: 0;
  }

  .u-section-2 .u-text-16 {
    margin-top: 51px;
    margin-right: 342px;
    margin-left: 0;
  }

  .u-section-2 .u-text-17 {
    margin-top: -25px;
    margin-right: 16px;
    margin-left: 67px;
  }

  .u-section-2 .u-text-18 {
    margin-top: 0;
    margin-right: 342px;
    margin-left: 0;
  }

  .u-section-2 .u-text-19 {
    margin-top: -25px;
    margin-right: 16px;
    margin-left: 67px;
  }

  .u-section-2 .u-text-20 {
    margin-top: 0;
    margin-right: 342px;
    margin-left: 0;
  }

  .u-section-2 .u-text-21 {
    margin-top: -25px;
    margin-right: 0;
    margin-left: 67px;
  }

  .u-section-2 .u-text-22 {
    margin-top: -1px;
    margin-right: 342px;
    margin-left: 0;
  }

  .u-section-2 .u-text-23 {
    margin-top: -26px;
    margin-right: 16px;
    margin-left: 67px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 746px;
}

.u-section-3 .u-group-1 {
  height: auto;
  margin-top: 9px;
  margin-bottom: 60px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 1px 22px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Mallanna;
  margin: 0 auto 0 29px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 15px auto 0 195px;
}

.u-section-3 .u-text-3 {
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  margin: -29px auto 0 49px;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  margin: 0 auto 0 194px;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  font-size: 1rem;
  font-style: italic;
  margin: -4px auto 0 194px;
}

.u-section-3 .u-text-6 {
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 23px auto 0 59px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -29px 147px 0 192px;
}

.u-section-3 .u-text-8 {
  font-weight: 400;
  font-size: 1rem;
  margin: 0 134px 0 192px;
}

.u-section-3 .u-text-9 {
  font-weight: 400;
  font-size: 1rem;
  font-style: italic;
  margin: -3px 136px 0 190px;
}

.u-section-3 .u-icon-1 {
  width: 21px;
  height: 21px;
  margin: -33px auto 0 126px;
  padding: 0;
}

.u-section-3 .u-icon-2 {
  width: 21px;
  height: 21px;
  margin: -21px auto 0 92px;
  padding: 0;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 38px 149px 0 190px;
}

.u-section-3 .u-text-11 {
  font-weight: 400;
  font-size: 1rem;
  margin: 0 136px 0 190px;
}

.u-section-3 .u-text-12 {
  font-weight: 400;
  font-size: 1rem;
  font-style: italic;
  margin: -3px 136px 0 190px;
}

.u-section-3 .u-text-13 {
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  margin: -77px 1033px 0 51px;
}

.u-section-3 .u-icon-3 {
  width: 21px;
  height: 21px;
  margin: 15px auto 0 126px;
  padding: 0;
}

.u-section-3 .u-icon-4 {
  width: 21px;
  height: 21px;
  margin: -21px auto 0 92px;
  padding: 0;
}

.u-section-3 .u-text-14 {
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 32px 1016px 0 68px;
}

.u-section-3 .u-text-15 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -29px 149px 0 190px;
}

.u-section-3 .u-text-16 {
  font-weight: 400;
  font-size: 1rem;
  margin: 0 136px 0 190px;
}

.u-section-3 .u-text-17 {
  font-weight: 400;
  font-size: 1rem;
  font-style: italic;
  margin: -3px 136px 0 190px;
}

.u-section-3 .u-icon-5 {
  width: 21px;
  height: 21px;
  margin: -35px auto 0 126px;
  padding: 0;
}

.u-section-3 .u-icon-6 {
  width: 21px;
  height: 21px;
  margin: -21px auto 0 92px;
  padding: 0;
}

.u-section-3 .u-text-18 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 36px 13px 0 191px;
}

.u-section-3 .u-text-19 {
  font-weight: 400;
  font-size: 1rem;
  margin: 0 0 0 191px;
}

.u-section-3 .u-text-20 {
  font-weight: 400;
  font-size: 1rem;
  font-style: italic;
  margin: -3px 2px 0 189px;
}

.u-section-3 .u-text-21 {
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  margin: -77px 1044px 0 58px;
}

.u-section-3 .u-icon-7 {
  width: 21px;
  height: 21px;
  margin: 15px 1000px 0 125px;
  padding: 0;
}

.u-section-3 .u-icon-8 {
  width: 21px;
  height: 21px;
  margin: -21px 1035px 0 91px;
  padding: 0;
}

.u-section-3 .u-text-22 {
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 35px 1032px 0 52px;
}

.u-section-3 .u-text-23 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -29px 148px 0 191px;
}

.u-section-3 .u-text-24 {
  font-weight: 400;
  font-size: 1rem;
  margin: 0 135px 0 191px;
}

.u-section-3 .u-text-25 {
  font-weight: 400;
  font-size: 1rem;
  font-style: italic;
  margin: -3px 135px 0 191px;
}

.u-section-3 .u-icon-9 {
  width: 21px;
  height: 21px;
  margin: -33px auto 0 127px;
  padding: 0;
}

.u-section-3 .u-icon-10 {
  width: 21px;
  height: 21px;
  margin: -21px auto 0 93px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 824px;
  }

  .u-section-3 .u-group-1 {
    margin-bottom: 44px;
    min-height: 771px;
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 19px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-right: 252px;
    margin-left: 173px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 808px;
    margin-left: 27px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: 58px;
    margin-left: 172px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-right: 170px;
    margin-left: 172px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-left: 37px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-right: 7px;
    margin-left: 173px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: 1px;
    margin-right: 170px;
    margin-left: 176px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 0;
    margin-right: 139px;
    margin-left: 173px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -69px;
    margin-left: 98px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 57px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: 71px;
    margin-right: 16px;
    margin-left: 176px;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-right: 24px;
    margin-left: 176px;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-top: 0;
    margin-right: 58px;
    margin-left: 176px;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-top: -80px;
    margin-right: 805px;
    margin-left: 27px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 9px;
    margin-left: 98px;
  }

  .u-section-3 .u-icon-4 {
    margin-left: 57px;
  }

  .u-section-3 .u-text-14 {
    width: auto;
    margin-top: 45px;
    margin-right: 808px;
    margin-left: 47px;
  }

  .u-section-3 .u-text-15 {
    width: auto;
    margin-right: 10px;
    margin-left: 176px;
  }

  .u-section-3 .u-text-16 {
    width: auto;
    margin-right: 24px;
    margin-left: 176px;
  }

  .u-section-3 .u-text-17 {
    width: auto;
    margin-top: 1px;
    margin-right: 94px;
    margin-left: 176px;
  }

  .u-section-3 .u-icon-5 {
    margin-top: -44px;
    margin-left: 98px;
  }

  .u-section-3 .u-icon-6 {
    margin-left: 57px;
  }

  .u-section-3 .u-text-18 {
    width: auto;
    margin-top: 46px;
    margin-right: 12px;
    margin-left: 173px;
  }

  .u-section-3 .u-text-19 {
    width: auto;
    margin-right: 142px;
    margin-left: 176px;
  }

  .u-section-3 .u-text-20 {
    width: auto;
    margin-top: 0;
    margin-right: 120px;
    margin-left: 176px;
  }

  .u-section-3 .u-text-21 {
    width: auto;
    margin-top: -109px;
    margin-right: auto;
    margin-left: 37px;
  }

  .u-section-3 .u-icon-7 {
    margin-top: 9px;
    margin-right: auto;
    margin-left: 98px;
  }

  .u-section-3 .u-icon-8 {
    margin-right: auto;
    margin-left: 57px;
  }

  .u-section-3 .u-text-22 {
    width: auto;
    margin-top: 73px;
    margin-right: 799px;
    margin-left: 27px;
  }

  .u-section-3 .u-text-23 {
    width: auto;
    margin-right: 6px;
    margin-left: 173px;
  }

  .u-section-3 .u-text-24 {
    width: auto;
    margin-right: 204px;
    margin-left: 172px;
  }

  .u-section-3 .u-text-25 {
    width: auto;
    margin-top: 1px;
    margin-right: 90px;
    margin-left: 172px;
  }

  .u-section-3 .u-icon-9 {
    margin-top: -43px;
    margin-left: 98px;
  }

  .u-section-3 .u-icon-10 {
    margin-left: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 976px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 37px;
    margin-bottom: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    margin-left: 12px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 60px;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    margin-right: 619px;
    margin-left: 16px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 21px;
    margin-left: 144px;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.875rem;
    margin-top: 0;
    margin-right: 0;
    margin-left: 144px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 19px;
    margin-right: 601px;
    margin-left: 23px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -26px;
    margin-right: 13px;
    margin-left: 142px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 2px;
    margin-left: 142px;
  }

  .u-section-3 .u-text-9 {
    font-size: 0.875rem;
    margin-top: 2px;
    margin-right: 2px;
    margin-left: 142px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -92px;
    margin-left: 87px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 46px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 92px;
    margin-right: 13px;
    margin-left: 142px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 2px;
    margin-left: 142px;
  }

  .u-section-3 .u-text-12 {
    font-size: 0.875rem;
    margin-top: 3px;
    margin-right: 13px;
    margin-left: 142px;
  }

  .u-section-3 .u-text-13 {
    margin-top: -109px;
    margin-right: 597px;
    margin-left: 15px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 15px;
    margin-left: 92px;
  }

  .u-section-3 .u-icon-4 {
    margin-left: 46px;
  }

  .u-section-3 .u-text-14 {
    margin-top: 65px;
    margin-right: 571px;
    margin-left: 34px;
  }

  .u-section-3 .u-text-15 {
    margin-right: 13px;
    margin-left: 142px;
  }

  .u-section-3 .u-text-16 {
    margin-right: 16px;
    margin-left: 144px;
  }

  .u-section-3 .u-text-17 {
    font-size: 0.875rem;
    margin-top: 2px;
    margin-right: 49px;
    margin-left: 142px;
  }

  .u-section-3 .u-icon-5 {
    margin-top: -64px;
    margin-left: 92px;
  }

  .u-section-3 .u-icon-6 {
    margin-left: 46px;
  }

  .u-section-3 .u-text-18 {
    margin-top: 64px;
    margin-right: 13px;
    margin-left: 144px;
  }

  .u-section-3 .u-text-19 {
    margin-top: 3px;
    margin-right: 1px;
    margin-left: 144px;
  }

  .u-section-3 .u-text-20 {
    font-size: 0.875rem;
    margin-top: 3px;
    margin-right: 9px;
    margin-left: 142px;
  }

  .u-section-3 .u-text-21 {
    margin-top: -112px;
    margin-left: 23px;
  }

  .u-section-3 .u-icon-7 {
    margin-left: 92px;
  }

  .u-section-3 .u-icon-8 {
    margin-left: 46px;
  }

  .u-section-3 .u-text-22 {
    margin-top: 68px;
    margin-right: 585px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-23 {
    margin-right: 13px;
    margin-left: 144px;
  }

  .u-section-3 .u-text-24 {
    margin-top: 2px;
    margin-right: 15px;
    margin-left: 142px;
  }

  .u-section-3 .u-text-25 {
    font-size: 0.875rem;
    margin-right: 14px;
    margin-left: 142px;
  }

  .u-section-3 .u-icon-9 {
    margin-top: -65px;
    margin-left: 92px;
  }

  .u-section-3 .u-icon-10 {
    margin-left: 46px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-3 {
    margin-right: 464px;
    font-size: 1rem;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 145px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 145px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 451px;
    font-size: 1rem;
  }

  .u-section-3 .u-text-7 {
    margin-right: 195px;
    margin-left: 164px;
    font-size: 1rem;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -260px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 206px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
    font-size: 1rem;
  }

  .u-section-3 .u-text-11 {
    margin-top: 51px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-13 {
    margin-top: -254px;
    margin-right: 463px;
    margin-left: 23px;
    font-size: 1rem;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 92px;
  }

  .u-section-3 .u-text-14 {
    margin-top: 79px;
    margin-right: 425px;
    margin-left: 0;
    font-size: 1rem;
  }

  .u-section-3 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1rem;
  }

  .u-section-3 .u-text-16 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-17 {
    margin-left: 11px;
    margin-right: 0;
  }

  .u-section-3 .u-text-18 {
    margin-top: 59px;
    margin-left: 0;
    margin-right: 0;
    font-size: 1rem;
  }

  .u-section-3 .u-text-19 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-20 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-21 {
    margin-top: -173px;
    font-size: 1rem;
  }

  .u-section-3 .u-icon-7 {
    margin-top: 89px;
  }

  .u-section-3 .u-text-22 {
    margin-top: 108px;
    margin-right: 425px;
    margin-left: 0;
    font-size: 1rem;
  }

  .u-section-3 .u-text-23 {
    margin-top: -99px;
    margin-left: 0;
    margin-right: 0;
    font-size: 1rem;
  }

  .u-section-3 .u-text-24 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-25 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 987px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -12px;
    margin-bottom: 23px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 14px;
    margin-left: 1px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 21px;
    margin-right: 9px;
    margin-left: 103px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -45px;
    margin-right: 309px;
    margin-left: 1px;
  }

  .u-section-3 .u-text-4 {
    font-size: 0.875rem;
    margin-top: 19px;
    margin-right: 8px;
    margin-left: 102px;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.75rem;
    margin-left: 102px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 10px;
    margin-right: 265px;
    margin-left: 4px;
  }

  .u-section-3 .u-text-7 {
    font-size: 0.875rem;
    margin-top: -22px;
    margin-right: 5px;
    margin-left: 103px;
  }

  .u-section-3 .u-text-8 {
    font-size: 0.875rem;
    margin-top: -1px;
    margin-left: 103px;
  }

  .u-section-3 .u-text-9 {
    font-size: 0.75rem;
    margin-top: 0;
    margin-left: 103px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -136px;
    margin-left: 54px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -21px;
    margin-left: 15px;
  }

  .u-section-3 .u-text-10 {
    font-size: 0.875rem;
    margin-top: 126px;
    margin-left: 102px;
  }

  .u-section-3 .u-text-11 {
    font-size: 0.875rem;
    margin-top: 3px;
    margin-right: 6px;
    margin-left: 102px;
  }

  .u-section-3 .u-text-12 {
    font-size: 0.75rem;
    margin-top: 0;
    margin-right: 10px;
    margin-left: 102px;
  }

  .u-section-3 .u-text-13 {
    margin-top: -178px;
    margin-right: 268px;
    margin-left: 0;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 16px;
    margin-left: 55px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: -23px;
    margin-left: 17px;
  }

  .u-section-3 .u-text-14 {
    margin-top: 131px;
    margin-right: 271px;
    margin-left: 9px;
  }

  .u-section-3 .u-text-15 {
    font-size: 0.875rem;
    margin-top: -24px;
    margin-right: 4px;
    margin-left: 99px;
  }

  .u-section-3 .u-text-16 {
    font-size: 0.875rem;
    margin-top: 0;
    margin-right: 9px;
    margin-left: 99px;
  }

  .u-section-3 .u-text-17 {
    font-size: 0.75rem;
    margin-top: 0;
    margin-right: 15px;
    margin-left: 99px;
  }

  .u-section-3 .u-icon-5 {
    margin-top: -93px;
    margin-left: 54px;
  }

  .u-section-3 .u-icon-6 {
    margin-left: 15px;
  }

  .u-section-3 .u-text-18 {
    font-size: 0.875rem;
    margin-top: 84px;
    margin-right: 4px;
    margin-left: 98px;
  }

  .u-section-3 .u-text-19 {
    font-size: 0.875rem;
    margin-top: 1px;
    margin-right: 4px;
    margin-left: 99px;
  }

  .u-section-3 .u-text-20 {
    font-size: 0.75rem;
    margin-top: 0;
    margin-right: 10px;
    margin-left: 98px;
  }

  .u-section-3 .u-text-21 {
    margin-top: -174px;
    margin-left: 6px;
  }

  .u-section-3 .u-icon-7 {
    margin-top: 14px;
    margin-left: 55px;
  }

  .u-section-3 .u-icon-8 {
    margin-left: 16px;
  }

  .u-section-3 .u-text-22 {
    margin-top: 124px;
    margin-right: 263px;
    margin-left: 1px;
  }

  .u-section-3 .u-text-23 {
    font-size: 0.875rem;
    margin-top: -24px;
    margin-right: 15px;
    margin-left: 95px;
  }

  .u-section-3 .u-text-24 {
    font-size: 0.875rem;
    margin-top: 0;
    margin-right: 8px;
    margin-left: 95px;
  }

  .u-section-3 .u-text-25 {
    font-size: 0.75rem;
    margin-top: 0;
    margin-right: 12px;
    margin-left: 96px;
  }

  .u-section-3 .u-icon-9 {
    margin-top: -112px;
    margin-left: 55px;
  }

  .u-section-3 .u-icon-10 {
    margin-left: 16px;
  }
}