.u-section-1 .u-sheet-1 {
  min-height: 1714px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  font-family: Mallanna;
  margin: 30px 1085px 0 51px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  font-family: Mallanna;
  font-weight: 700;
  margin: 0 985px 0 65px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Georgia, serif;
  margin: 26px 1002px 0 65px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1263px;
  min-height: 241px;
  margin: -6px 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 118px;
}

.u-section-1 .u-container-layout-1 {
  padding: 12px 30px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 0 1023px 0 0;
}

.u-section-1 .u-text-5 {
  line-height: 1.6;
  margin: -29px 0 0 155px;
}

.u-section-1 .u-text-6 {
  margin: 0 0 0 155px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 123px;
}

.u-section-1 .u-container-layout-2 {
  padding: 2px 30px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 20px 1023px 0 0;
}

.u-section-1 .u-text-8 {
  line-height: 1.6;
  margin: -29px 0 0 155px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  width: 36px;
  height: 36px;
  margin: -36px auto 0 982px;
}

.u-section-1 .u-text-9 {
  margin: 0 0 0 155px;
}

.u-section-1 .u-layout-wrap-2 {
  width: 1263px;
  margin: -1px 0 0 auto;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 115px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 17px 1023px 0 0;
}

.u-section-1 .u-text-11 {
  line-height: 1.6;
  margin: -29px 0 0 155px;
}

.u-section-1 .u-icon-2 {
  width: 36px;
  height: 36px;
  margin: -36px auto 0 976px;
}

.u-section-1 .u-text-12 {
  margin: 0 0 0 155px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 126px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: 0 1023px 0 0;
}

.u-section-1 .u-text-14 {
  line-height: 1.6;
  margin: -29px 0 0 155px;
}

.u-section-1 .u-layout-wrap-3 {
  width: 1263px;
  margin: -1px 0 0 auto;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 115px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  margin: 0 1023px 0 0;
}

.u-section-1 .u-text-16 {
  line-height: 1.6;
  margin: -29px 0 0 155px;
}

.u-section-1 .u-icon-3 {
  width: 36px;
  height: 36px;
  margin: -36px auto 0 1030px;
}

.u-section-1 .u-text-17 {
  margin: 0 0 -7px 155px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 126px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  margin: 0 1023px 0 0;
}

.u-section-1 .u-text-19 {
  line-height: 1.6;
  margin: -29px 0 0 155px;
}

.u-section-1 .u-layout-wrap-4 {
  width: 1263px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 112px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 30px;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  margin: 0 1023px 0 0;
}

.u-section-1 .u-text-21 {
  line-height: 1.6;
  margin: -29px 0 0 155px;
}

.u-section-1 .u-icon-4 {
  width: 36px;
  height: 36px;
  margin: -36px auto 0 1012px;
}

.u-section-1 .u-text-22 {
  margin: 0 0 -7px 155px;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 129px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 30px;
}

.u-section-1 .u-text-23 {
  font-weight: 700;
  margin: 0 1023px 0 0;
}

.u-section-1 .u-text-24 {
  line-height: 1.6;
  margin: -29px 0 0 155px;
}

.u-section-1 .u-layout-wrap-5 {
  width: 1263px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-9 {
  min-height: 120px;
}

.u-section-1 .u-container-layout-9 {
  padding: 12px 30px;
}

.u-section-1 .u-text-25 {
  font-weight: 700;
  margin: 0 1023px 0 0;
}

.u-section-1 .u-text-26 {
  line-height: 1.6;
  margin: -29px 0 0 155px;
}

.u-section-1 .u-text-27 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 65px 1002px 0 65px;
}

.u-section-1 .u-list-1 {
  width: 1239px;
  margin: 33px 0 60px auto;
}

.u-section-1 .u-repeater-1 {
  min-height: 230px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 10px;
}

.u-section-1 .u-text-28 {
  line-height: 1.6;
  margin: 0 155px 0 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 0 10px;
}

.u-section-1 .u-text-29 {
  line-height: 1.6;
  margin: 0 155px 0 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3577px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 956px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 870px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 887px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    width: 1140px;
    min-height: 218px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 107px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 900px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 32px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 32px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 111px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 900px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 32px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 882px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 32px;
  }

  .u-section-1 .u-layout-wrap-2 {
    position: relative;
    width: 1140px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 104px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 900px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 32px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 876px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 32px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 114px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 900px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 32px;
  }

  .u-section-1 .u-layout-wrap-3 {
    position: relative;
    width: 1140px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 104px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 900px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 32px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 925px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 32px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 114px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 900px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 32px;
  }

  .u-section-1 .u-layout-wrap-4 {
    position: relative;
    width: 1140px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 101px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 900px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 32px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 909px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 32px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 116px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 900px;
  }

  .u-section-1 .u-text-24 {
    margin-left: 32px;
  }

  .u-section-1 .u-layout-wrap-5 {
    position: relative;
    width: 1140px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 108px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 900px;
  }

  .u-section-1 .u-text-26 {
    margin-left: 32px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 887px;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 1140px;
    height: auto;
    min-height: 230px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-28 {
    margin-right: 56px;
  }

  .u-section-1 .u-text-29 {
    margin-top: -29px;
    margin-right: 56px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3377px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 756px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 670px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 687px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    min-height: 180px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 88px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 700px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 92px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 700px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 719px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 86px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 700px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 714px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 94px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 700px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 86px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 700px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 754px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 94px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 700px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-4 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 83px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 700px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 741px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 96px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 700px;
  }

  .u-section-1 .u-text-24 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-5 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 89px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 700px;
  }

  .u-section-1 .u-text-26 {
    margin-left: 0;
  }

  .u-section-1 .u-text-27 {
    margin-right: 687px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 0;
  }

  .u-section-1 .u-text-29 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3409px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 536px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 450px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 467px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    min-height: 200px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 480px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 480px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 539px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 480px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 536px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 480px;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 480px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 566px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 480px;
  }

  .u-section-1 .u-layout-wrap-4 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 480px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 556px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 480px;
  }

  .u-section-1 .u-layout-wrap-5 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 480px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 467px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3391px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-right: 356px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 270px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-right: 287px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 340px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 340px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 425px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 340px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 422px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 340px;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 340px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 446px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 340px;
  }

  .u-section-1 .u-layout-wrap-4 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 340px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 438px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 340px;
  }

  .u-section-1 .u-layout-wrap-5 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 340px;
  }

  .u-section-1 .u-text-27 {
    font-size: 1rem;
    margin-right: 287px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3373px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 176px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 90px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 107px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 360px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 160px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 160px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 278px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 360px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 160px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 276px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 160px;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 360px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 160px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 292px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 160px;
  }

  .u-section-1 .u-layout-wrap-4 {
    width: 360px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 160px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 286px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 160px;
  }

  .u-section-1 .u-layout-wrap-5 {
    width: 360px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 160px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 107px;
  }

  .u-section-1 .u-list-1 {
    width: 360px;
  }
}