{% comment %}先按年份分组{% endcomment %}
{% assign news_by_year = site.news | sort: "date" | reverse | slice: 0, include.limit | group_by_exp: "item", "item.date | date: '%Y'" -%}

{% for year in news_by_year %}
  <h2>{{ year.name }}</h2>
  {% comment %}在每个年份中，再按月份分组{% endcomment %}
  {% assign news_by_month = year.items | group_by_exp: "item", "item.date | date: '%m'" -%}
  {% for month in news_by_month %}
    <h3>{{ month.name }}</h3>
    {% for item in month.items %}
      <div class="my-1 d-flex">
        <div>{{ item.title }}</div>
        <div class="ml-auto mt-auto text-muted no-break">
          <i>{{ item.date | date: "%b %d" }}</i>
        </div>
      </div>
    {% endfor %}
  {% endfor %}
{% endfor %}
